.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 400px;
  margin: auto;
    padding-top: 18%;

  transition-timing-function: easy;
  transition-duration: 2s;
}

.process-file .App {
  padding-top: 0%;
}

#root {
 
  background-color:#000011;
  /* 
   background-color: rgb(34, 193, 195);
   background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 185, 253, 1) 100%
  );*/
  /*  background: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg"); */
  /*background: url("fon.jpg");*/

  background-size: cover;
  background-position: left top;
  height: 100vh;
  width:100%;

background-size:cover;

}



#root{
	background-image:  url("fon_world.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  margin-bottom: 15px;
  -webkit-animation: App-logo-spin infinite 20s linear;
}

.App-header {
  height: 70px;
  padding: 20px;
  color: #353535;
}

.App-intro {
  font-size: large;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}
.flex-bruh{
  display:flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  justify-content: space-between;
}
.flex-bruh-middle{
  align-items: center;
  text-align: left;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {

  background-color: #ffc107;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
body{color:#fff;
}

.react-tabs__tab {

  color: #fff;
  font-weight: 700;
}

.table,
#datafile,
.table td, .table th {
  color: #ffffff;
}



#mapbasic{
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0;
  transition: 0.3s all;
  z-index: -1;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}


.process-file #mapbasic{
  opacity: 1;
  width: 95%;
}
/* Дата кнопка */
#datafile {
  opacity: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.timeclass{
  font-size: 25px;
  font-weight: 700;
  
  color:#fff;
}
.my-button{
  display: flex;
  justify-content: space-between;
}
/* Процесс открытие файла */
.process-file #menu-electron {
  opacity: 1;
}


.App {
  margin-top: 0vh !important;
  transition: 2.3s all;
  -webkit-transition: 2.3s all;
  -moz-transition: 2.3s all;
  -ms-transition: 2.3s all;
  -o-transition: 2.3s all;
  z-index: 9;
}

.process-file .App {
  margin-top: -100vh !important;
}

.process-file #datafile {
  opacity: 1 !important;
}

.process-file #openButton {
  display: none;
}

.process-file .list-counter-square {
  opacity: 0;
}

.h2-main{
  color: #fff;
  text-transform: uppercase;
}
.h2-new{


  font-size: 18px;
  color:#fff;
}
/* UL LI */
#menu-electron {
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0;
  transition: 0.3s all;
  z-index: 7;
}

.list-counter-square {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  transition-timing-function: easy;
  transition-duration: 1s;
}
.list-counter-square > li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #fff;
  background: #353535bf;
  white-space: nowrap;
  text-align: left;
}
.list-counter-square > li:last-child {
  margin-bottom: 0;
}
.list-counter-square > li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: 0;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #000000ab;
  background: #ffbc00b8;
  background-color: #e0a800;
  border-color: #d39e00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
