.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 300px;
  margin: auto;
  padding-top: 20%;


  transition-timing-function: easy;
  transition-duration: 2s;
}

.process-file .App{
  padding-top: 0%;
}

#root{
  
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,185,253,1) 100%);
  height:100vh;
 
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

  height: 150px;
  padding: 20px;
  color: #353535;
}

.App-intro {
  font-size: large;
}

/* Дата кнопка */
#datafile{
  opacity: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

/* Процесс открытие файла */
.process-file #menu-electron{
  opacity: 1;
}

.process-file #datafile{
  opacity: 1 !important;
}



.process-file #openButton{
display:none;
}

.process-file .list-counter-square{
  opacity:0;
}

/* UL LI */
#menu-electron{
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0;
  transition:0.3s all;
}


.list-counter-square {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  transition-timing-function: easy;
  transition-duration: 1s;

}
.list-counter-square>li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
  margin-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #fff;
  background: #0000005c;
  white-space: nowrap;
  text-align: left;
}
.list-counter-square>li:last-child {
  margin-bottom: 0;
}
.list-counter-square>li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: 0;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.59);
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
